<div class="textbox textbox--exercises"><header class="textbox__header">
<h2 class="textbox__title">Bahan Renungan</h2>
</header>
<div class="textbox__content">
<h3 style="text-align: center">Soal 1</h3>
Tunjukkan bahwa vektor-vektor eigen $latex u$ dan $latex v$ dari suatu matriks $latex A$ yang bersesuaian dengan nilai eigen berbeda bersifat bebas linear.

<hr />

<h3 style="text-align: center">Soal 2</h3>
Hitung determinan matriks berikut.
<p style="text-align: center">$latex C = \left[\begin{array}{ccc} 2 &amp; 2 &amp; 6 \\ 4 &amp; 3 &amp; 12 \\ 6 &amp; 4 &amp; 16 \end{array} \right].$</p>


<hr />

<h3 style="text-align: center">Soal 3</h3>
Tentukan nilai-nilai eigen dan vektor-vektor eigen matriks berikut.
<p style="text-align: center">$latex B = \left[\begin{array}{ccc}4 &amp; -1 &amp; 1 \\ -1 &amp; 4 &amp; -1 \\ -1 &amp; 1 &amp; 2 \end{array}\right].$</p>


<hr />

<h3 style="text-align: center">Soal 4</h3>
Perhatikan transformasi dari $latex \mathbb{R}^5$ ke $latex \mathbb{R}^3$ yang didefinisikan oleh
<p style="text-align: center">$latex {\mathcal T}(\vec x) = \left[\begin{array}{c} 0 \\ 2 x_1 - 4 x_2 + x_5 \\ x_2 + x_3 + x_5 \end{array}\right], \qquad \text{where} \qquad \vec x = \left[\begin{array}{c}x_1 \\ x_2 \\ x_3 \\ x_4 \\ x_5 \end{array}\right].$</p>

<ol>
 	<li><span style="font-size: 1rem;text-align: initial">Apakah $latex \mathcal T$ merupakan transformasi linear? Mengapa atau mengapa tidak?</span></li>
 	<li>Tentukan matriks $latex \mathcal T$ relatif terhadap basis standar $latex \mathbb{R}^5$ dan $latex \mathbb{R}^3$.</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 5</h3>
Perhatikan matriks
<p style="text-align: center">$latex A = \left[\begin{array}{ccccc} 1 &amp; 2 &amp; 2 &amp; 4 &amp; 4 \\ 2 &amp; 4 &amp; 3 &amp; 4 &amp; 2 \\ 1 &amp; 1 &amp; 3 &amp; 2 &amp; 3 \end{array}\right].$</p>

<ol>
 	<li>Tentukan basis ruang kolom (atau ruang hasil) $latex A$. Berikan alasan atas jawaban Anda.</li>
 	<li>Tentukan basis ruang nol $latex A$. Berikan alasan atas jawaban Anda.</li>
 	<li>Berapakah rank $latex A$?</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 6</h3>
Perhatikan ruang $latex \mathbb{P}_2$ yang terdiri atas polinom berderajat paling tinggi 2, dan misalkan $latex {\mathcal S} = \left\{q_0,\, q_1,\, q_2,\, q_3,\, q_4\right\}$ adalah himpunan polinom dalam $latex \mathbb{P}_2$, dengan
<p style="text-align: center">$latex \begin{eqnarray*} &amp;&amp; q_0(t) = 6 t - t^2, \qquad q_1(t) = 1 - t, \qquad q_2(t)= t + 1 \\ &amp;&amp; q_3(t) = 4, \qquad \qquad \ q_4(t) = 2 - 2 t + t^2. \end{eqnarray*}$</p>

<ol>
 	<li>Tentukan koordinat polinom $latex Q$ relatif terhadap basis standar $latex \mathbb{P}_2$, dengan $latex Q(t)= 4 t^2 - 2 t + 10$.</li>
 	<li>Berikan sebuah basis $latex \mathbb{P}_2$ yang terdiri atas vektor-vektor dalam $latex \mathcal S$. Jelaskan cara Anda memilih vektor-vektor tersebut.</li>
 	<li>Tentukan koordinat polinom $latex Q$ yang didefinisikan pada butir 1 relatif terhadap basis yang Anda peroleh pada butir 2.</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 7</h3>
Perhatikan vektor-vektor berikut dalam $latex \mathbb{R}^4$.
<p style="text-align: center">$latex \begin{align*} &amp;\vec v_1 = \left[\begin{array}{cccc} 1 \\ 2 \\ 3 \\ 4\end{array}\right],\qquad \vec v_2 = \left[\begin{array}{cccc} 0 \\ 1 \\ 0 \\ -1\end{array}\right],\qquad \vec v_3 = \left[\begin{array}{cccc} 1 \\ 0 \\ 1 \\ 0\end{array}\right],\\ &amp; \vec v_4 = \left[\begin{array}{cccc} 1 \\ 1 \\ 1 \\ -2\end{array}\right],\qquad \vec v_5 = \left[\begin{array}{cccc} 1 \\ 1 \\ 1 \\ 1\end{array}\right]. \end{align*}$</p>
Tunjukkan bahwa $latex \displaystyle \left\{\vec v_1,\,\vec v_2,\,\vec v_3,\,\vec v_4,\,\vec v_5\right\}$ merupakan himpunan yang bergantung linear.

</div>
</div>
