<div class="textbox textbox--exercises"><header class="textbox__header">
<h2>Bahan Renungan</h2>
</header>
<div class="textbox__content">
<h3 style="text-align: center">Soal 1</h3>
Perhatikan Persamaan (<a href="#Eq_10.2">10.2</a>) dengan $latex \mu = 0$. Carilah solusi persamaan ini dalam bentuk
<p style="text-align: center">$latex \psi(x,y,t) = \exp[i(\omega t + q x + p y)], \qquad \omega,\, q,\,p\, \in \mathbb{R}.$</p>
Cobalah menyatakan syarat keberadaan serta $latex \omega$, $latex q$, dan $latex p$ dalam parameter-parameter persamaan tersebut. Apakah solusinya tunggal?

<hr />

<h3 style="text-align: center">Soal 2</h3>
Carilah solusi dalam bentuk
<p style="text-align: center">$latex \psi(x,y,t) = \exp[i(\omega t + q x + p y)], \qquad \omega,\, q,\,p\, \in \mathbb{R}.$</p>
untuk Persamaan (<a href="#Eq_10.2">10.2</a>) dengan $latex \mu \ne 0$. Cobalah menyatakan syarat keberadaan serta $latex \omega$, $latex q$, dan $latex p$ dalam parameter-parameter persamaan tersebut. Apakah solusinya tunggal?

<hr />

<h3 style="text-align: center">Soal 3</h3>
Carilah solusi dalam bentuk
<p style="text-align: center">$latex \psi(x,y,t) = \exp[\lambda t + i(\omega t + q x + p y)], \qquad \lambda,\,\omega,\, q,\,p\, \in \mathbb{R}$</p>
untuk Persamaan (<a href="#Eq_10.2">10.2</a>) dengan $latex \mu \ne 0$. Cobalah menyatakan $latex \lambda$, $latex \omega$, $latex q$, dan $latex p$ dalam parameter-parameter persamaan tersebut. Apakah solusinya tunggal?

<hr />

<h3 style="text-align: center">Soal 4</h3>
Bacalah artikel C.A. Klausmeier tahun 1999. Jelaskan cara memperoleh bentuk tak berdimensi (2) dari sistem persamaan (1) dalam artikel tersebut.

<hr />

<h3 style="text-align: center">Soal 5</h3>
Bacalah artikel C.A. Klausmeier tahun 1999. Tentukan dimensi parameter $latex A$, $latex L$, $latex R$, $latex V$, $latex J$, $latex M$, dan $latex D$, serta variabel $latex W$ dan $latex N$ dalam sistem persamaan (1) pada artikel tersebut.

<hr />

<h3 style="text-align: center">Soal 6</h3>
Bacalah artikel C.A. Klausmeier tahun 1999.
<ul>
 	<li>Jelaskan cara menemukan titik-titik tetap sistem persamaan (2) dalam artikel tersebut.</li>
 	<li>Tentukan matriks Jacobi sistem (2).</li>
</ul>
</div>
</div>
