<div class="textbox textbox--exercises"><header class="textbox__header">
<h2>Bahan Renungan</h2>
</header>
<div class="textbox__content">
<h3 style="text-align: center">Soal 1</h3>
Pertimbangkan reaksi kimia berikut
<p style="text-align: center">$latex \begin{array}{ccccc} &amp; k_1 &amp; &amp; k_3 &amp; \\ A + B &amp; \rightleftharpoons &amp; C &amp;\rightarrow &amp; B + D,\\ &amp; k_2 &amp; &amp; &amp; \end{array}$</p>
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k_4 &amp; \\ B + E &amp; \rightleftharpoons &amp; F. \\ &amp; k_5 &amp; \end{array}$</p>

<ol>
 	<li>Tuliskan persamaan diferensial yang mendeskripsikan dinamika konsentrasi $latex A$, $latex B$, $latex C$, $latex E$, dan $latex F$.</li>
 	<li>Tunjukkan bahwa $latex [B] + [C] + [F]$ konstan. Apa makna kimiawi fakta ini?</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 2</h3>
Pertimbangkan reaksi kimia
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k_1 &amp; \\ A + B &amp; \rightleftharpoons &amp; C. \\ &amp; k_2 &amp; \end{array}$</p>

<ol>
 	<li>Jelaskan mengapa persamaan laju untuk $latex A$ adalah $latex \displaystyle \frac{d [A]}{d t} = - k_1 [A]\, [B] + k_2 [C].$</li>
 	<li>Apa dimensi $latex k_1$ dan $latex k_2$?</li>
 	<li>Tuliskan persamaan ini dalam bentuk tak berdimensi.</li>
</ol>

<hr />

<h3 style="text-align: center"><span style="text-indent: 0em">Soal 3</span></h3>
<span style="text-indent: 0em">Pertimbangkan reaksi kimia</span>
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k &amp; \\ n \, A &amp;\rightarrow&amp; B, \end{array}$</p>
dengan $latex n$ merupakan bilangan bulat positif.
<ol>
 	<li>Apa persamaan laju untuk $latex A$?</li>
 	<li>Diketahui bahwa $latex [A](0)=[A]_0$, tentukan solusi persamaan ini.</li>
 	<li>Apakah solusi tersebut masuk akal untuk semua waktu? Jika tidak, apa yang terjadi?</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 4</h3>
Apa dimensi $latex k_1$, $latex k_2$, $latex k_3$, dan $latex k_4$ dalam <a href="#Brussel_eqn">reaksi Brusselator</a>?

&nbsp;

<hr />

<h3 style="text-align: center">Soal 5</h3>
Asumsikan bahwa konstanta laju $latex k_1$, $latex k_2$, $latex k_3$, dan $latex k_4$ dalam <a href="#Brussel_eqn">reaksi Brusselator</a> tidak sama dengan 1. Dapatkah Anda menskalakan ulang persamaan laju yang bersesuaian untuk menghilangkan parameter-parameter ini dari model tak berdimensi? Jelaskan.

<hr />

<h3 style="text-align: center"><span style="text-indent: 0em">Soal 6</span></h3>
<span style="text-indent: 0em">Dengan menggunakan PPLANE, simulasikan model Brusselator (<a href="#BR">8.1</a>) </span>dengan $latex [A]=1$. Jelaskan apa yang terjadi ketika parameter $latex [B]$ divariasikan dari 1.5 hingga 2.5.

&nbsp;

<hr />

<h3 style="text-align: center">Soal 7</h3>
Dengan menggunakan PPLANE, simulasikan <span style="text-indent: 0em">model Brusselator (<a href="#BR">8.1</a>) </span>dengan $latex [A]=1$.
<ol>
 	<li>Jelaskan apa yang terjadi ketika parameter $latex [B]$ divariasikan dari 3 hingga 5. Apa yang istimewa pada nilai $latex [B]=4$?</li>
 	<li>Gambarkan $latex [X]$ dan $latex [Y]$ sebagai fungsi $latex t$ untuk $latex [B] = 6$. Jelaskan apa yang terjadi dengan kata-kata Anda sendiri.</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 8</h3>
Apa dimensi $latex k_1$, $latex k_2$, $latex k_3$, $latex k_4$, dan $latex k_5$ dalam <a href="#Orgonator">reaksi Oregonator</a>?

&nbsp;

<hr />

<h3 style="text-align: center">Soal 9</h3>
Periksa bahwa $latex x$, $latex y$, $latex z$, dan $latex \tau$ yang didefinisikan dalam pembahasan <a href="#Orgonator">reaksi Oregonator</a> bersifat tak berdimensi.

&nbsp;

<hr />

<h3 style="text-align: center">Soal 10</h3>
Dengan menggunakan PPLANE, simulasikan model Oregonator tereduksi (<a href="#COR2">8.3</a>) dengan $latex f=1$, $latex s=1$, dan $latex \omega=2$. Jelaskan apa yang terjadi ketika parameter $latex q$ divariasikan dari 0.1 hingga 0.01.

&nbsp;

<hr />

<h3 style="text-align: center">Soal 11</h3>
Tentukan titik-titik tetap model Oregonator tereduksi (<a href="#COR2">8.3</a>) dengan $latex f=1$, dan analisislah kestabilannya. Anda dapat menggunakan paket komputasi simbolik, seperti MAPLE atau MATHEMATICA.

&nbsp;

<hr />

<h3 style="text-align: center">Soal 12</h3>
Pertimbangkan reaksi kimia
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k_1 &amp; \\ A + X &amp; \rightarrow &amp; 2 X, \end{array}$</p>
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k_2 &amp; \\ X + Y &amp; \rightarrow &amp; 2 Y, \end{array}$</p>
<p style="text-align: center">$latex \begin{array}{ccc} &amp; k_3 &amp; \\ Y &amp; \rightarrow &amp; P. \end{array}$</p>

<ol>
 	<li>Tuliskan persamaan laju untuk $latex [X]$ dan $latex [Y]$.</li>
 	<li>Tunjukkan bahwa sistem dinamik dua dimensi yang diperoleh dengan demikian merupakan kasus khusus model Lotka-Volterra.</li>
 	<li>Berdasarkan informasi ini, dinamika seperti apa yang Anda harapkan?</li>
</ol>
&nbsp;

<hr />

<h3 style="text-align: center">Soal 13</h3>
Model Brusselator dan Oregonator memperlihatkan osilasi periodik karena adanya siklus limit. Di sisi lain, persamaan Lotka-Volterra (<a href="https://opentextbooks.library.arizona.edu/mathematicalmodeling/chapter/two-species-models#CLV">6.2</a>) dengan $latex b=0$ memiliki tak hingga banyak solusi periodik. Jika Anda memiliki sistem eksperimental yang memperlihatkan osilasi, bagaimana Anda membedakan keberadaan siklus limit dari keberadaan banyak orbit periodik?

</div>
</div>
