Bagian ini mencantumkan proyek-proyek pemodelan yang masing-masing didasarkan pada artikel penelitian yang baru-baru ini diterbitkan dan dapat dieksplorasi bersama materi yang disajikan dalam buku ini. Di University of Arizona, mahasiswa yang terdaftar dalam mata kuliah Pemodelan Matematika membentuk tim beranggotakan 4 atau 5 orang dan bekerja bersama-sama mengerjakan salah satu proyek tersebut sepanjang semester. Setiap kelompok memiliki proyeknya sendiri. Mereka berupaya memahami pendekatan pemodelan yang dijelaskan dalam artikel, mereproduksi hasilnya, serta mempresentasikan gagasan dan kesimpulan utama kepada seluruh kelas. Mahasiswa dianjurkan merumuskan pertanyaan pemodelan yang memperluas pekerjaan yang dibahas dalam setiap artikel dan, jika waktu memungkinkan, menjawab beberapa di antaranya.
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ01">1. Kecerdasan Kolektif</h2>
<div class="textbox shaded">

Pahami dan ukur secara kuantitatif apakah berbagai strategi kerja sama antaranggota kelompok meningkatkan kinerja pemecahan masalah.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1016/j.plrev.2018.10.004">Agent-based models of collective intelligence</a></em> oleh S.M. Reia, A.C. Amado, J.F. Fontanari, Physics of Life Reviews <strong>31</strong>, 320–331 (2019).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Model berbasis agen (Bab 2).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Penalaran logis dan berpikir kritis. Pemrograman.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Susun sintesis atas berbagai model yang diperkenalkan dalam artikel dan bandingkan pendekatan pemecahan masalah yang direpresentasikan oleh masing-masing model.</li>
 	<li>Tulis kode untuk mereproduksi hasil para penulis mengenai kinerja setiap pendekatan sebagai fungsi ukuran kelompok.</li>
 	<li>Tafsirkan hasil eksplorasi Anda terhadap setiap model, termasuk peran parameter-parameter yang relevan.</li>
 	<li>Evaluasi hipotesis yang diajukan untuk mendukung strategi pemodelan secara keseluruhan dan nilai keabsahan kesimpulan yang dicapai para penulis.</li>
 	<li>Tafsirkan setiap eksplorasi tambahan atas model dan pertahankan kesimpulan Anda.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ02">2. Model Penyebaran Awal COVID-19</h2>
<div class="textbox shaded">

Selidiki uraian mekanistik sederhana tentang penularan zoonotik SARS-CoV-2 di pasar Wuhan, penyebaran selanjutnya kepada manusia, dan langkah-langkah mitigasi terkait.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1016/j.ijid.2020.02.058" rel="noopener">A conceptual model for the coronavirus disease 2019 (COVID-19) outbreak in Wuhan, China with individual reaction and governmental action</a></em> oleh Q. Lin <em>et al.</em>, Int. J. Infectious Diseases <strong>93</strong>, 211–216 (2020).</li>
 	<li><strong>Topik Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Model kompartemen dan epidemiologi (Bab 7).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem persamaan diferensial biasa (PDB).</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Ringkas hipotesis model.</li>
 	<li>Bangun model kompartemen dan analisis perilakunya.</li>
 	<li>Susun sintesis atas pendekatan pemodelan dan telusuri berbagai skenario.</li>
 	<li>Evaluasi kontribusi model berdasarkan pengetahuan mengenai penyakit tersebut pada awal 2020.</li>
 	<li>Nilai cara merevisi hipotesis model berdasarkan pengetahuan terkini mengenai SARS-CoV-2 dan varian-variannya.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ03">3. Intervensi Nonfarmasi untuk Mitigasi Penyebaran Penyakit</h2>
<div class="textbox shaded">

Kembangkan model kompartemen untuk menilai potensi intervensi nonfarmasi dalam memitigasi penyebaran COVID-19 di Italia sebelum vaksin tersedia.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1038/s41591-020-0883-7">Modelling the COVID-19 epidemic and implementation of population-wide interventions in Italy</a></em> oleh G. Giordano, F. Blanchini, R. Bruno, P. Colaneri, A. Di Filippo, A. Di Matteo, dan M. Colaneri, Nature Medicine <strong>26</strong>, 855–860 (2020).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Titik tetap dan kestabilannya (Bab 3). Epidemi (Bab  7).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem PDB (memerlukan pengalaman pemrograman). Pembuktian.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Ringkas hipotesis model, bangun model kompartemen, dan analisis perilakunya.</li>
 	<li>Tulis kode untuk menyimulasikan PDB yang saling terkopel, mengeksplorasi berbagai skenario mitigasi, dan mereproduksi hasil artikel.</li>
 	<li>Susun sintesis atas pendekatan pemodelan dan evaluasi kontribusi model berdasarkan pengetahuan mengenai COVID-19 pada awal 2020.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ04">4. Kampanye Vaksinasi, Intervensi Nonfarmasi, dan Beban COVID-19</h2>
<div class="textbox shaded">

Kembangkan model kompartemen untuk menilai dampak intervensi nonfarmasi dan kampanye vaksinasi COVID-19 terhadap sistem layanan kesehatan di Italia.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1038/s41591-021-01334-5">Modeling vaccination rollouts, SARS-CoV-2 variants and the requirement for non-pharmaceutical interventions in Italy</a></em> oleh G. Giordano, M. Colaneri, A. Di Filippo, F. Blanchini, P. Bolzern, G. De Nicolao, P. Sacchi, P. Colaneri, dan R. Bruno, Nature Medicine <strong>27</strong>, 993–998 (2021).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Epidemi (Bab 7).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem PDB (memerlukan pengalaman pemrograman).</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Ringkas hipotesis model, bangun model kompartemen, lalu bahas makna dan pentingnya setiap suku, khususnya suku-suku yang berkaitan dengan vaksinasi.</li>
 	<li>Tulis kode untuk menyimulasikan PDB yang saling terkopel, mengeksplorasi berbagai skenario pelaksanaan vaksinasi, dan mereproduksi hasil artikel.</li>
 	<li>Ukur secara kuantitatif pengaruh kampanye vaksinasi dan strategi nonfarmasi terhadap sistem layanan kesehatan serta jumlah kematian akibat penyakit.</li>
 	<li>Susun sintesis atas pendekatan pemodelan dan evaluasi kontribusi model tersebut.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ05">5. Dinamika Glukosa–Insulin</h2>
<div class="textbox shaded">

Kembangkan model PDB untuk diabetes dan kaji dinamikanya, termasuk analisis strategi pengelolaan penyakit.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1080/17513758.2022.2146769">Dynamics of a Glucose–Insulin Model</a></em> oleh M. Ma &amp; J. Li, Journal of Biological Dynamics <strong>16</strong>, 733-745 (2022).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Analisis bidang fase (Bab 3). Reaksi kimia (Bab 8).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem PDB. Pembuktian. Kinetika Michaelis–Menten.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Ringkas hipotesis model, bandingkan pendekatan saat ini dengan pendekatan terdahulu untuk memodelkan dinamika glukosa-insulin yang dibahas dalam artikel, dan jelaskan bagaimana model saat ini dibangun.</li>
 	<li>Lakukan analisis bidang fase yang lengkap terhadap model dengan mencari semua titik tetapnya dan menganalisis kestabilannya, serta dengan melakukan simulasi numerik (tidak perlu menulis kode jika Anda menggunakan aplikasi Phase Plane).</li>
 	<li>Nilai berbagai strategi pengendalian penyakit berdasarkan tafsiran Anda tentang pengaruh parameter terhadap dinamika sistem.</li>
 	<li>Evaluasi kontribusi model dan tafsirkan setiap keterbatasannya.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ06">6. Perilaku Kolektif dalam Kerumunan</h2>
<div class="textbox shaded">

Kembangkan model berbasis agen untuk menjelaskan bagaimana petunjuk visual dapat memunculkan perilaku kolektif dalam kerumunan.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1098/rspb.2021.2089">The visual coupling between neighbours explains local interactions underlying human ‘flocking’</a> </em>oleh G.C. Dachner, T.D. Wirth, E. Richmond, dan W.H. Warren, Proc. R. Soc. B <strong>289</strong>, 20212089 (2022).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Model berbasis agen (Bab 2).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Pemrograman. Analisis terapan tingkat lanjut.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Uraikan secara terpadu motivasi para penulis dan nilai pilihan pemodelan mereka (kritiklah atau kemukakan argumen yang menentang maupun mendukungnya), berdasarkan pemahaman Anda tentang masalah dan data yang dibahas dalam artikel.</li>
 	<li>Tulis kode untuk menyimulasikan dinamika antaragen dan mereproduksi "eksperimen simulasi" yang dijelaskan dalam artikel.</li>
 	<li>Telusuri pengaruh berbagai pilihan parameter dan rangkum hasil Anda, termasuk setiap keterbatasan model.</li>
 	<li>Tentukan bagaimana Anda dapat memperbaiki model, lalu telusuri beberapa perbaikan tersebut.</li>
 	<li>Nilai pendekatan pemodelan beserta kontribusinya.</li>
</ul>
