<h2 id="O005-LEGA-V101-PRJ07" class="uacm-text-center">7. Kompromi antara Kompleksitas Model dan Identifikasi Parameter</h2>
<div class="textbox shaded">

Kembangkan dan bandingkan dua model kompartemen yang berbeda untuk penularan dengue, suatu penyakit yang ditularkan melalui vektor.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1016/j.mbs.2013.10.007">Comparing vector-host and SIR models for dengue transmission</a></em> oleh A. Pandey, A. Mubayi, J. Medlock, Mathematical Biosciences <strong>246</strong>, 252–259 (2013).</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Epidemi (Bab 7).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem persamaan diferensial biasa (memerlukan sedikit pengalaman pemrograman). Teori peluang. Metode Monte Carlo rantai Markov (MCMC).</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Jelaskan cara penularan penyakit yang ditularkan melalui vektor, rangkum hipotesis pemodelannya, dan bangun model-model kompartemen yang diperkenalkan dalam artikel.</li>
 	<li>Bahas makna berbagai suku dalam setiap model dan jelaskan alasan bentuknya berdasarkan hipotesis yang dibuat.</li>
 	<li>Kembangkan simulasi numerik untuk setiap model dan simulasikan lintasan bagi berbagai kondisi awal dan pilihan parameter, termasuk nilai-nilai yang diidentifikasi dalam artikel.</li>
 	<li>Jelaskan metode MCMC untuk estimasi parameter dan renungkan kompromi antara kompleksitas model dan kesulitan yang berkaitan dengan identifikasi parameter.</li>
 	<li>Akhiri dengan refleksi Anda sendiri mengenai hal-hal yang perlu diperhitungkan para pemodel pada tahap pemilihan model dalam proses pemodelan.</li>
</ul>
<h2 id="O005-LEGA-V101-PRJ08" class="uacm-text-center">8. Model Pemangsa–Mangsa</h2>
<div class="textbox shaded">

Kembangkan model-model pemangsa–mangsa, analisis perilakunya, dan pertimbangkan relevansinya dalam ekologi.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://dx.doi.org/10.1038/s41598-018-25436-2">Asymptotic stability of a modified Lotka-Volterra model with small immigrations</a></em> oleh T. Tahara, M.K. Areja Gavina, T. Kawano, J.M. Tubay, J.F. Rabajante, H. Ito, S. Morita, G. Ichinose, T. Okabe, T. Togashi, K. Tainaka, A. Shimizu, T. Nagatani &amp; J. Yoshimura, Scientific Reports <strong>8</strong>, 7029 (2018).</li>
 	<li><strong>Artikel Konteks</strong>: <em><a href="https://doi.org/10.1038/s41586-019-1857-0">Long-term cyclic persistence in an experimental predator–prey system</a></em> oleh B. Blasius, L. Rudolf, G. Weithoff, U. Gaedke &amp; G.F. Fussmann, Nature <strong>577</strong>, 226-230 (2020). Artikel konteks tersebut memaparkan hasil eksperimen terbaru mengenai keberlangsungan dinamika siklik dalam suatu sistem pemangsa–mangsa.</li>
 	<li><strong>Bagian Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Titik tetap dan kestabilannya (Bab 3). Model Populasi Dua Spesies (Bab 6).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Analisis terapan tingkat lanjut. Pembuktian.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Jelaskan pendekatan pemodelan dan tujuan kajian tersebut.</li>
 	<li>Analisis model linear dan jelaskan dinamika model Lotka–Volterra klasik (pemrograman tidak diperlukan jika Anda menggunakan aplikasi Phase Plane).</li>
 	<li>Telaah dan berikan alasan bagi berbagai modifikasi yang diusulkan dalam artikel.</li>
 	<li>Implementasikan model-model yang bersesuaian dan analisis dinamika yang dihasilkan: gunakan teknik analisis bidang fase (tentukan titik-titik tetap dan kaji kestabilannya) serta simulasi numerik (misalnya dengan aplikasi Phase Plane).</li>
	<li>Bandingkan hasilnya dengan pembahasan dalam Bab 6 buku ini.</li>
 	<li>Tentukan apakah eksplorasi variasi tambahan atas model tersebut memang beralasan.</li>
 	<li>Susun sintesis hasilnya dan nilai secara kritis kontribusi karya tersebut, terutama dengan mempertimbangkan temuan terbaru yang disajikan dalam artikel konteks.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ09">9. Interaksi Pemangsa–Mangsa ketika Mangsa Takut kepada Pemangsa</h2>
<div class="textbox shaded">

Suatu sistem pemangsa–mangsa yang memperhitungkan rasa takut.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1016/j.physa.2019.123359" rel="noopener">Fear factor in a prey–predator system in deterministic and stochastic environment</a></em> oleh J. Roy &amp; S. Alam, Physica A <strong>541</strong>, 123359 (2020).</li>
 	<li><strong>Topik Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Analisis kestabilan (Bab 3). Spesies yang bersaing (Bab 6).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Sistem dinamik. Simulasi numerik sistem persamaan diferensial biasa. Pembuktian. Analisis real.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Susun sintesis atas pendekatan pemodelannya.</li>
 	<li>Bangun model otonom deterministiknya.</li>
 	<li>Tentukan titik-titik tetap dan analisis kestabilannya.</li>
 	<li>Jelajahi dinamika model deterministik tersebut, baik dengan maupun tanpa pemaksaan musiman.</li>
 	<li>Nilai kontribusi model tersebut.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ10">10. Komunikasi dalam Kawanan Lebah Madu</h2>
<div class="textbox shaded">

Pahami cara lebah madu menciptakan jaringan aroma dinamis yang memungkinkan mereka menemukan ratunya dari kejauhan.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <a href="https://doi.org/10.1073/pnas.2011916118" rel="noopener"><em>Flow-mediated olfactory communication in honeybee swarms</em></a> oleh D.M.T. Nguyen <em>et al.</em>, PNAS <strong>118</strong>, e2011916118 (2021).</li>
 	<li><strong>Topik Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Model berbasis agen (Bab 2). Difusi (Bab 9).</li>
	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Analisis Matematika Terapan. Persamaan Diferensial Parsial. Pemrograman. Proses stokastik.</li>
 	<li><strong>Informasi Tambahan</strong>: Video dan uraian terperinci mengenai model tersebut tersedia dalam <a href="https://www.pnas.org/content/suppl/2021/03/23/2011916118.DCSupplemental" rel="noopener">materi tambahan daring</a>.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Rangkum proses pengumpulan data beserta analisis selanjutnya.</li>
 	<li>Jelaskan cara kerja model berbasis agen tersebut.</li>
 	<li>Reproduksilah sebagian hasilnya.</li>
 	<li>Susun sintesis atas pendekatan pemodelannya.</li>
 	<li>Nilai kontribusi model tersebut.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ11">11. Migrasi Paus</h2>
<div class="textbox shaded">

Pengaruh suhu air laut dan kerapatan kril terhadap migrasi paus di sepanjang pesisir California.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1016/j.ecolmodel.2020.109225" rel="noopener">Disentangling the biotic and abiotic drivers of emergent migratory behavior using individual-based models</a></em> oleh S. Dodson <em>et al</em>., Ecological Modelling <strong>432</strong>, 109225 (2020).</li>
 	<li><strong>Topik Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Model berbasis agen (Bab 2). Difusi (Bab 9).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Analisis Matematika Terapan. Teori peluang. Pemrograman. Proses stokastik.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Susun sintesis atas pendekatan pemodelannya.</li>
 	<li>Susun peta musiman hampiran bagi suhu air laut dan kerapatan kril.</li>
 	<li>Bangun dan jalankan model berbasis individu tersebut.</li>
 	<li>Nilai kontribusi model dengan mempertimbangkan pengetahuan kita saat ini mengenai perubahan iklim.</li>
</ul>
<h2 class="uacm-text-center" id="O005-LEGA-V101-PRJ12">12. Kolam Lelehan di Arktik</h2>
<div class="textbox shaded">

Model sederhana yang mereproduksi sifat geometris dan penskalaan kolam lelehan di Arktik.

</div>
<h3>Informasi Proyek</h3>
<ul>
 	<li><strong>Artikel</strong>: <em><a href="https://doi.org/10.1088/1367-2630/ab26db" rel="noopener">Ising model for melt ponds on Arctic sea ice</a></em> oleh Y-P. Ma et al., New J. Phys. <strong>21</strong>, 063029 (2019).</li>
 	<li><strong>Topik Mata Kuliah yang Relevan</strong>: Proses pemodelan (Bab 1). Penskalaan dan Metode Minimisasi Energi (Bab 3). Model berbasis agen (Bab 2).</li>
 	<li><strong>Pengetahuan Lanjutan yang Berguna</strong>: Fisika (transisi fase, model Ising). Analisis Matematika Terapan. Pemrograman.</li>
 	<li><strong>Informasi Tambahan</strong>: Untuk melihat citra es laut dari helikopter, baca <em><a href="https://doi.org/10.1029/2000JC000449" rel="noopener">Aerial observations of the evolution of ice surface conditions during summer</a></em> oleh D.K. Perovich, W.B. Tucker III, K.A. Ligett, serta lihat pangkalan data <a href="https://nsidc.org/data/g02180/versions/1" rel="noopener">SHEBA Reconnaissance Imagery, Version 1</a>.</li>
</ul>
<h3>Capaian Proyek</h3>
<ul>
 	<li>Susun sintesis atas pendekatan pemodelannya.</li>
 	<li>Bangun model tersebut dan jelajahi perilakunya.</li>
 	<li>Reproduksilah hasil-hasil artikel tersebut.</li>
 	<li>Nilai kontribusi model tersebut.</li>
</ul>
