<div class="textbox textbox--exercises"><header class="textbox__header">
<h2>Bahan Renungan</h2>
</header>
<div class="textbox__content">
<h3 style="text-align: center">Soal 1</h3>
Tuliskan model (<a href="#Viral">7.1</a>) dalam bentuk tak berdimensi dengan mendefinisikan $latex \tau = \lambda k b t / \delta^2$ dan variabel $latex x$, $latex y$, serta $latex v$ yang sesuai. Jelaskan langkah yang Anda lakukan dan periksa bahwa $latex \tau$ tak berdimensi.

<hr />

<h3 style="text-align: center">Soal 2</h3>
Pertimbangkan model (<a href="#CViral">7.2</a>).
<ol>
 	<li>Tentukan titik-titik tetap sistem ini.</li>
 	<li>Apa syarat pada parameter agar titik-titik tetap ini berada di oktan pertama? Apa makna biologis syarat-syarat tersebut?</li>
 	<li>Bahas kestabilan linear titik tetap dengan $latex y = v = 0$.</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 3</h3>
Pertimbangkan model (<a href="#CESIR">7.6</a>). Tunjukkan bahwa lintasan yang bermula di segitiga $latex \mathcal T$ tetap berada di $latex \mathcal T$.

<hr />

<h3 style="text-align: center"><span style="text-indent: 0em">Soal 4</span></h3>
<span style="text-indent: 0em">Pertimbangkan model (</span><a style="text-indent: 0em" href="#CESIR">7.6</a><span style="text-indent: 0em">) dengan $latex \eta + \delta \lt 1$. </span>Adakah nilai $latex \eta$ dan $latex \delta$ yang membuat $latex P_2$ menjadi simpul stabil, bukan spiral stabil?

<hr />

<h3 style="text-align: center"><span style="text-indent: 0em">Soal 5</span></h3>
<span style="text-indent: 0em">Model MSEIR sesuai untuk penyakit seperti rubela </span>atau campak karena setelah terinfeksi, seseorang menjadi kebal terhadap penyakit tersebut. Tuliskan sistem persamaan untuk model MSEIR pada populasi dengan laju kelahiran per kapita $latex \nu$ dan laju kematian per kapita $latex \mu$, dengan $latex \nu \ne \mu$. Nyatakan asumsi Anda dan definisikan setiap laju transisi yang digunakan.

</div>
</div>
