<div class="textbox textbox--exercises"><header class="textbox__header">
<h2>Bahan Renungan</h2>
</header>
<div class="textbox__content">
<h3 style="text-align: center">Soal 1</h3>
Perhatikan Persamaan (<a href="#Stone_Euler1">4.5</a>).
<ol>
 	<li><span style="font-size: 1rem;text-align: initial">Gunakan persamaan-persamaan tersebut untuk menentukan dimensi </span>$latex \omega_\alpha$, dengan $latex \alpha$ masing-masing bernilai $latex y,\,n$, dan $latex p$.</li>
 	<li>Hubungkan dimensi $latex I_\alpha$ dengan dimensi $latex N_\alpha$.</li>
 	<li>Diketahui bahwa torsi berbentuk $latex \vec N = \vec r \times \vec f$, dengan $latex \vec r$ sebagai vektor posisi dan $latex \vec f$ sebagai gaya. Tentukan dimensi $latex N_\alpha$.</li>
	<li>Gunakan hasil-hasil di atas untuk menentukan dimensi $latex I_\alpha$. Apakah hasil ini sesuai dengan definisi $latex I_\alpha \equiv \int ||\vec r||^2 \rho\,dV,$ dengan $latex \rho$ sebagai massa jenis dan $latex dV$ sebagai elemen volume?</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 2</h3>
Soal ini didasarkan pada artikel L. Bocquet tahun 2003.

Perhatikan Persamaan (<a href="#Stone_New5">4.11</a>) dan anggap bahwa batu berbentuk persegi.
<ol>
 	<li>Buktikan bahwa $latex S_{im} = a |z| / \sin(\theta)$.</li>
 	<li>Dengan menggunakan bentuk $latex S_{im}$ tersebut, buktikan bahwa Persamaan (<a href="#Stone_New5">4.11</a>) menjadi persamaan diferensial linear untuk $latex z$.</li>
 	<li>Carilah solusi umum persamaan diferensial biasa ini.</li>
 	<li>Terapkan kondisi batas dan buktikan bahwa $latex z(t)$ diberikan oleh</li>
</ol>
<p style="text-align: center">$latex \displaystyle z(t) = \frac{-g}{\omega_0^2} + \frac{g}{\omega_0^2} \cos(\omega_0 t) + \frac{v_z(0)}{\omega_0} \sin(\omega_0 t),$</p>
<p style="text-align: center">$latex \displaystyle \text{dengan } \qquad \omega_0^2 = \frac{\left(C_l \cos(\theta)-C_f \sin(\theta)\right) \rho_w v_x(0)^2 a}{2 M \sin(\theta)}$.</p>


<hr />

<h3 style="text-align: center">Soal 3</h3>
Soal ini didasarkan pada artikel L. Bocquet tahun 2003.

Dinamika sisi batu persegi yang terendam selama fase tumbukan dideskripsikan oleh (lihat Soal 2)
<p style="text-align: center">$latex \displaystyle z(t) = \frac{-g}{\omega_0^2} + \frac{g}{\omega_0^2} \cos(\omega_0 t) + \frac{v_z(0)}{\omega_0} \sin(\omega_0 t),$</p>
dengan
<p style="text-align: center">$latex \displaystyle \omega_0^2 = \frac{\left(C_l \cos(\theta)-C_f \sin(\theta)\right) \rho_w v_x(0)^2 a}{2 M \sin(\theta)}.$</p>

<ol>
 	<li>Gunakan bentuk ini untuk membuktikan bahwa sisi batu mencapai kedalaman $latex |z_m|$, dengan $latex z_m = - \frac{g}{\omega_0^2} \left[1+\sqrt{1+\frac{\omega_0^2 v_z(0)^2}{g^2}}\right].$</li>
 	<li>Syarat apa yang harus dipenuhi $latex z$ agar batu terendam seluruhnya?</li>
 	<li>Buktikan bahwa batu tidak akan terendam seluruhnya selama fase tumbukan jika
$latex \displaystyle v_x(0)^2 &gt; \frac{4 M g}{C \rho_w a^2} \left[1 - \frac{2 \tan^2 \beta \, M}{a^3 C \rho_w \sin(\theta)}\right]^{-1}, \quad C = C_l \cos(\theta)-C_f \sin(\theta).$</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 4</h3>
Soal ini didasarkan pada artikel L. Bocquet tahun 2003.

Dengan menggunakan persamaan gerak Euler (<a href="#Stone_Euler1">4.5</a>) bersama bentuk gaya angkat yang sesuai pada batu selama fase tumbukan, turunkan Persamaan (20) dalam artikel L. Bocquet tahun 2003,
<p style="text-align: center">$latex \displaystyle \frac{d^2 \theta}{d t^2} + \frac{J_0 - J_1}{J_1} (\theta - \theta(0)) = \frac{{\mathcal M}_\theta}{J_1},$</p>
dengan $latex {\mathcal M}_\theta$ sebagai proyeksi torsi yang dikerahkan air pada batu ke sumbu $latex \vec y$.

</div>
</div>
&nbsp;
