
<h3 style="text-align: center">Soal 8</h3>
Tinjau persamaan diferensial $latex \displaystyle \frac{d x}{d t} = a + x^2 (x-1) \equiv f(x), a \in \mathbb{R}.$
<ol>
 	<li>Buatlah plot $latex f(x)$ sebagai fungsi $latex x$. Apa yang terjadi ketika $latex a$ berubah?</li>
 	<li>Tanpa melakukan perhitungan, sketsakan perilaku titik-titik tetap sebagai fungsi $latex a$.</li>
 	<li>Tunjukkan kestabilan setiap titik tetap pada diagram bifurkasi dalam pertanyaan (2).</li>
 	<li>Tetapkan nilai +1 untuk setiap titik tetap stabil dan nilai -1 untuk setiap titik tetap tak stabil. Untuk setiap nilai $latex a$, definisikan fungsi $latex g(a)$ sebagai jumlah indeks yang berkaitan dengan titik-titik tetap yang ada untuk nilai $latex a$ tersebut. Sketsakan grafik $latex g$ sebagai fungsi $latex a$. Apa yang Anda amati?</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 9</h3>
Tinjau model populasi dengan umur $latex a$ sebagai variabel bebas kontinu. Definisikan distribusi umur $latex M(a,t)$ sedemikian sehingga jumlah individu yang berumur antara $latex a_1$ dan $latex a_2$ pada waktu $latex t$ diberikan oleh
<p style="text-align: center">$latex \int_{a_1}^{a_2} M(a,t) d a.$</p>
Tunjukkan bahwa dinamika $latex M$ dideskripsikan oleh persamaan diferensial parsial berikut, yang dikenal sebagai persamaan diferensial parsial <em>McKendrick</em> atau <em>von Foerster</em>,
<p style="text-align: center">$latex \displaystyle \frac{\partial M}{\partial t} + \frac{\partial M}{\partial a} = - d(a) M,$</p>
dengan fungsi mortalitas $latex d(a)$ menyatakan laju kematian per kapita individu berumur $latex a$.

<hr />

<h3 style="text-align: center">Soal 10</h3>
Gunakan metode karakteristik untuk menyelesaikan persamaan diferensial parsial McKendrick yang diturunkan dalam Soal 9.

<hr />

<h3 style="text-align: center">Soal 11</h3>
Tinjau model LPA yang dijelaskan dalam bab ini. Apa saja dimensi parameter ($latex b$, $latex c_{ea}$, $latex c_{el}$, $latex c_{pa}$, $latex d_a$, $latex d_l$) yang muncul dalam model tersebut?

<hr />

<h3 style="text-align: center">Soal 12</h3>
Tulislah model yang menggambarkan situasi serupa dengan situasi pada model LPA (dengan kanibalisme), tetapi waktu yang dibutuhkan pupa untuk menjadi dewasa dua kali lebih lama daripada waktu yang dibutuhkan larva untuk menjadi pupa.

<hr />

<h3 style="text-align: center">Soal 13</h3>
Tulislah model yang menggambarkan populasi dengan dua subkelompok, individu juvenil dan dewasa, dengan individu dewasa memakan sebagian telurnya sendiri. Anda dapat menggunakan suku eksponensial yang serupa dengan suku dalam model LPA untuk menggambarkan kanibalisme.

<hr />

<h3 style="text-align: center">Soal 14</h3>
Tinjau model berikut,
<p style="text-align: center">$latex \displaystyle \left\{\begin{array}{l} J(t + \Delta t)=b A(t) \exp\left(- c A(t)\right),\\ A(t + \Delta t)=(1 - d_J) J(t) + (1 - d_A) A(t), \end{array}\right.$</p>
dengan $latex b$, $latex d_J$, dan $latex d_A$ sebagai parameter positif.
<ol>
 	<li>Jelaskan dengan kata-kata suatu situasi yang dimodelkan oleh persamaan-persamaan di atas.</li>
 	<li>Dalam kondisi apa model ini memiliki titik tetap nontrivial? Apa makna biologis kondisi tersebut?</li>
 	<li>Bahas kestabilan titik-titik tetap model ini.</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 15</h3>
Bacalah artikel R. May berjudul <a href="http://dx.doi.org/10.1038/261459a0"><em>Simple mathematical models with complicated dynamics</em></a>, kemudian bahas (yaitu jelaskan, beri pembenaran, uraikan rinciannya, atau buktikan) pernyataan-pernyataan berikut yang terdapat dalam artikel tersebut.
<ol>
 	<li>Halaman 460, kolom kiri, di atas Persamaan (3): "<em>Dengan menuliskan $latex X = b N/a$, persamaan tersebut dapat diubah menjadi bentuk kanonis $latex X_{t+1} = a X_t (1-X_t)$."</em></li>
 	<li>Halaman 460, kolom kiri, bagian bawah: "<em>Jika $latex X$ pernah melampaui satu, iterasi-iterasi berikutnya divergen menuju $latex - \infty$</em>."</li>
 	<li>Halaman 460, kolom kanan, di bawah Persamaan (6): "<em>Selama kemiringan ini berada di antara 45<sup>o</sup> dan -45<sup>o</sup> ... titik kesetimbangan $latex X^*$ setidaknya akan stabil secara lokal</em>."</li>
 	<li>Halaman 461, kolom kiri, di bawah Persamaan (9): "<em>Jelas bahwa titik kesetimbangan $latex X^*$ dari Persamaan (5) merupakan solusi Persamaan (9)</em>."</li>
 	<li>Persamaan (10): $latex \lambda^{(2)}(X^*) = [\lambda^{(1)}(X^*)]^2$.</li>
 	<li>Halaman 461, kolom kiri, bagian bawah: "<em>Ketika hal ini terjadi, kurva $latex F^{(2)}(X)$ harus membentuk sebuah ``gelung'', dan muncul dua titik tetap baru berperiode 2</em>."</li>
 	<li>Halaman 461, kolom kiri, bagian bawah: "<em>Kemiringan ini mudah ditunjukkan bernilai sama di kedua titik dan, secara lebih umum, bernilai sama di semua $latex k$ titik pada siklus periode $latex k$</em>."</li>
 	<li>Bagian bawah halaman 461 dan awal halaman 462: "<em>... hingga akhirnya muncul siklus tiga titik (pada $latex a = 3.8284 ...$ untuk persamaan (3))</em>."</li>
 	<li>Halaman 462, kolom kanan, bagian bawah: "<em>Siklus periode 3 ini tidak pernah stabil</em>."</li>
 	<li>Halaman 462, kolom kanan, bagian bawah: "<em>Ketika $latex F(X)$ terus menjadi semakin curam, kemiringan $latex \lambda^{(3)}$ untuk siklus tiga titik yang mula-mula stabil ini menurun melewati -1; siklus tersebut menjadi tak stabil dan, melalui proses bifurkasi, menghasilkan ... siklus-siklus stabil berperiode 6, 12, 24, ..., $latex 3 \times 2^n$</em>."</li>
 	<li>Gambarlah ilustrasi konsep bifurkasi tangen dan bifurkasi garpu rumput (lihat halaman 463, bagian atas kolom kiri).</li>
 	<li>Halaman 464, kolom kanan, bagian atas: "<em>... kemiringan peta yang diiterasikan $latex k$ kali, $latex F^{(k)}$, di setiap titik pada siklus periode $latex k$ sama dengan hasil kali kemiringan $latex F(X)$ di setiap titik $latex X^*_k$ pada siklus ini</em>."</li>
 	<li>Halaman 465, kolom kiri, bagian bawah: "<em>... ketika setiap pasangan siklus baru lahir melalui bifurkasi tangen (lihat Gbr. 5), salah satunya mula-mula stabil karena bukit dan lembah yang membulat halus memotong garis 45<sup>o</sup> dengan cara tersebut</em>."</li>
 	<li>Halaman 466, kolom kanan, bagian bawah: "<em>... dalam sistem kontinu dua dimensi ... lintasan dinamis tidak dapat saling berpotongan</em>."</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 16</h3>
Tujuan soal ini adalah mengeksplorasi perubahan menyeluruh pada populasi Amerika Serikat. <a href="https://www.census.gov/">Biro Sensus Amerika Serikat</a> menyimpan berkas (<a href="https://www2.census.gov/programs-surveys/popest/tables/1900-1980/national/totals/popclockest.txt">popclockest.txt</a>) yang memuat perkiraan populasi nasional antara 1900 dan 1999. Impor himpunan data ini ke MATLAB atau EXCEL. Kemudian, jawablah pertanyaan-pertanyaan berikut.
<ol>
 	<li>Buatlah plot populasi Amerika Serikat sebagai fungsi waktu. Apa kesimpulan Anda?</li>
 	<li>Dapatkah pertumbuhan populasi Amerika Serikat dimodelkan dengan persamaan evolusi sederhana berbentuk $latex N(t+1) = (1+R) N(t)$, dengan $latex t$ dalam tahun? Mengapa atau mengapa tidak? Jika dapat, perkirakan $latex R$.</li>
 	<li>Perkiraan populasi pascasensus diperoleh sebagaimana dijelaskan pada <a href="https://www.census.gov/programs-surveys/popest/technical-documentation/methodology.html">halaman metodologi Biro Sensus Amerika Serikat</a> (lihat, misalnya, <a href="https://www2.census.gov/programs-surveys/popest/technical-documentation/methodology/2020-2021/methods-statement-v2021.pdf">berkas metodologi untuk edisi 2021</a>). Jelaskan rumus utama yang diberikan pada bagian Ikhtisar artikel tersebut.</li>
 	<li>Berdasarkan perkiraan berikut[footnote]Diunduh pada 2005 dari halaman web Biro Sensus Amerika Serikat yang kini sudah dinonaktifkan (https://www.census.gov/popest/datasets.html)[/footnote], tentukan populasi Amerika Serikat pada 2004:
<ol>
 	<li>Populasi pada 2001: 285,102,075.</li>
 	<li>Kelahiran, kematian, dan imigrasi internasional neto:
<ul>
 	<li>2001-2002: 4,006,985; 2,429,999; 1,262,159.</li>
 	<li>2002-2003: 4,055,469; 2,432,874; 1,225,161.</li>
 	<li>2003-2004: 4,099,399; 2,453,984; 1,221,013.</li>
</ul>
</li>
</ol>
</li>
</ol>

<hr />

<h3 style="text-align: center">Soal 17</h3>
Tujuan bagian ini adalah mengeksplorasi evolusi populasi Amerika Serikat menggunakan kelompok umur yang berbeda. Perkiraan populasi menurut kelompok umur lima tahunan dari 2010 hingga 2019 dapat diperoleh dari <a href="https://www.census.gov/topics/population/age-and-sex/data/tables.html">situs web Biro Sensus Amerika Serikat</a> (setiap tahun memiliki tabel tersendiri).
<ol>
 	<li>Gunakan informasi ini untuk memplot distribusi umur populasi Amerika Serikat pada tahun-tahun yang berbeda.
<ol>
 	<li>Apakah terjadi perubahan besar selama empat tahun terakhir dalam himpunan data ini?</li>
 	<li>Himpunan data tersebut memiliki 18 kelompok umur. Gunakan distribusi umur yang baru saja Anda plot untuk mendefinisikan kelompok umur yang lebih luas, yang dapat digunakan dalam model sederhana.</li>
</ol>
</li>
 	<li>Dengan menggunakan perkiraan terkini atas laju <a href="https://www.cdc.gov/nchs/data/nvsr/nvsr67/nvsr67_01.pdf">kelahiran</a> dan <a href="https://www.cdc.gov/nchs/data/nvsr/nvsr65/nvsr65_04.pdf">kematian</a>, sebagaimana diterbitkan oleh Pusat Pengendalian dan Pencegahan Penyakit, buatlah model untuk memprediksi populasi dalam kelompok umur yang Anda definisikan, dengan data 2010 sebagai kondisi awal. Anda mungkin ingin memulai dengan Gambar 2 dan 3 dalam dokumen kelahiran dan kematian tersebut. Tabel-tabel di bagian akhir juga mungkin berguna. (Catatan: jangan mencoba mencetak berkas-berkas ini; panjangnya lebih dari 50 halaman!)
<ol>
 	<li>Bagaimana perbandingan model Anda dengan perkiraan Biro Sensus untuk 2019?</li>
 	<li>Gunakan model Anda untuk memprediksi populasi setiap kelompok umur pada 2050. Apa kesimpulan Anda?</li>
 	<li>Bahas keterbatasan model Anda.</li>
</ol>
</li>
</ol>
</div>
</div>
